body {
  background-color: rgb(255, 255, 255);
  /* Cambiar el color de fondo a rosa */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-input {
  background-color: #838181 !important;
  color: #fff !important;
  padding: 1px !important;
  border-radius: 14px !important;
  /* Ajusta el valor de acuerdo a tu preferencia */
}

/* Estilos personalizados para las flechas de incremento y decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.dropdown-menu-custom .rounded-full {
  border-radius: 50%;
  /* Establecer bordes circulares */
  border: 3px solid #1774dd;
  /* Opcional: Agregar un borde con el color deseado */
}

.nav-item {
  font-size: 18px;
  /* Ajusta el tamaño de la fuente según tus preferencias */
}

.nav-item:hover {
  color: #4CAF50;
  /* Cambia el color al hacer hover */
  cursor: pointer;
  /* Cambia el cursor a un puntero */
}

/* Estilos para el menú desplegable */




/* Estilos para la imagen de cada producto */

/* Estilos para el texto de cada producto */
.span1,
.spn1 {
  /* Cambiar la fuente */
  font-family: Arial, sans-serif;
  /* Cambiar el tamaño */
  font-size: 12px;
  /* Cambiar el grosor */
  font-weight: bold;
  /* Cambiar el color */
  color: #333;
  /* Limitar el ancho a 10 caracteres */
  width: 15ch;
  /* Ocultar el texto que se desborde */
  overflow: hidden;
  /* Mostrar puntos suspensivos */
  text-overflow: ellipsis;
}

.span2,
.spn2 {
  /* Cambiar la fuente */
  font-family: Arial, sans-serif;
  /* Cambiar el tamaño */
  font-size: 12px;
  /* Cambiar el grosor */
  font-weight: bold;
  /* Cambiar el color */
  color: #333;
  /* Limitar el ancho a 10 caracteres */
  width: 10ch;
  /* Ocultar el texto que se desborde */
  overflow: hidden;
  /* Mostrar puntos suspensivos */
  text-overflow: ellipsis;
}